.main
  background-color: #222
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.app
  text-align: center

.headerText
  color: white
  font-size: 100%
  font-family: Roboto
  text-align: center

.socialLinks
  position: fixed
  display: flex
  flex-direction: row
  justify-content: center
  width: 100%
  bottom: 20px
