.container
  display: flex
  flex-direction: row
  align-items: left

.textContainer
  display: flex
  flex-direction: column

.title
  color: white
  font-size: 300%
  font-family: Roboto

.body
  color: white
  font-family: Roboto

.iconWrapper
  color: inherit

.icon
  display: block
  width: 64px
  height: 64px
  fill: firebrick

.staticImage
  display: block
  width: 64px
  height: 64px
  fill: green

.staticImage:hover
  opacity:0
