.container
  position: relative
  top: 0px
  left: 0px

.staticImage
  position: absolute
  width = 128px
  height = 128px

.staticImage:hover
  opacity:0

.hoveredImage
  opacity:0

.hoveredImage:hover
  opacity:1
