.container
  display: flex
  flex-direction: column
  align-items: center

.link
  color: white
  font-family: 'Roboto Mono', monospace

.iconWrapper
  color: inherit

.icon
  display: block
  width: 64px
  height: 64px
  fill: firebrick